
body{
    margin: 0;
    background: grey;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
}
.nav {
    width: 100%;
    position: fixed;
    top: -500px;
    transition: all 0.3s;
    box-shadow: 3px 0 15px #000;
    list-style: none;
    justify-content: center;
    z-index: 9999;

  }
.nav--active {
    top: 0;
}

#weather {
    list-style: none;
}
.carousel-container{
    height: 650px;
}
  .button-box {
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 30px;
    height: 40px;
    width: 40px;
    z-index: 9999;

  }

  .button-box__button {
    width: 40px;
    height: 4px;
    background-color: black;
    position: fixed;
    top: 50px;
    right: 30px;
  }

  .button-box__button:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 4px;
    background-color: black;
  }
  .button-box__button:after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    width: 100%;
    height: 4px;
    background-color: black;
  }
#second-container {
    background: #383838;

}
.section-additional__title {
    margin: 0;
    padding: 20px;
    font-size: 35px;
    text-align: center;
}
.section-additional__container {
    display: flex;
    justify-content:space-around;
}
.section-additional__child {
    text-align: center;
    margin: 20px 20px;
}

.section-additional__text {
    box-sizing: border-box;
    text-align: center;
    max-width: 280px;
    max-height: 280px;
}
.section-additional__photo {
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 150px;
    height: 150px;
    background-color: slategray;
    overflow: hidden;
}

.logo-img{
    max-width: 150px;
    max-height: 150px;
}
.logo-img__height{
    max-width: 150px;
}
.logo-img__width{
    max-height: 150px;
}
.section-first-el__container{
    display: flex;
    background: grey;
    margin: 20px 0px;
    align-items: center;
    max-width: 1400px;
    justify-content: space-between;
    margin: 0 auto;
    justify-content: center;
    height: 200px
}
.section-weather__container{
    background: grey;
    margin: 20px 0px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    height: 200px
}
.current-weather{
    padding-top: 20px;
}
.section-first-el__title {
    text-align: center;
    font-size: 35px;
    margin: 0 ;
    padding: 20px;
    background-color: black
  }
.section-first-el__text{
    margin-left: 25px;
    text-align: justify;
    margin-right: 25px;
    flex-basis: 60%
}
.section-first-el__side{
    display: flex;
    align-items: center;
    padding: 30px
}
.section-hero__header{
    font-size: 60px;
    text-align: center;
    text-transform:  uppercase;
}
.section-hero__text {
    text-align: center;
}

.section-hero__container{
    width:100%;
    height:100vh;
    background-size:cover;
    background-image:url(https://www.podrozepoeuropie.pl/system/gallery/images/images/000/007/736/large/Widokna-Lublin.JPG?1519757886);
    background-size:100% 100%;
    max-height: 500px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: self-start;

 }
 .section-menu__list{
        display: flex;
        list-style: none;
        padding: 0 ;
        margin: 0 ;
    }
    .section-menu__list--item {
        padding: 20px;
    }

 



.back-img{
    max-height: 250px;
    max-width: 250px;
    border-width:10px;
    border-style:ridge groove;
    border-radius:50%;
    margin: 20px;

}
.Footer {
    background: black;
    color: white;
    padding: 10px;
}

  .social-logo{
    width: 60px;
    height: 60px;
    padding: 10px;
}
.section-first-el__logos{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 768px) {
    .section-first-el__container {
        display:flex;
        flex-direction: column-reverse;
        height: 400px
    }
    .section-additional__container {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .section-additional__text{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }

    .section-menu__list{
        display: flex;
        flex-direction: column;
    }
    .section-first-el__logos{
        flex-direction: row;
    }
    .section-menu__list--item {
        padding: 5px;
    }
 
}




@media only screen and (min-width: 1400px) {
    .flex-container{
        display: flex;
        justify-content: space-between;
    }

    .section-menu{
    left: 0;
    top: 0;
    width: 100%;
 }
    .section-menu__list { 
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
 }
}
@media only screen and (max-width: 1000px) {
    .section-first-el__container{
        display: flex;
        flex-direction: column-reverse;
        height: 350px
    }

}


